<div id="mainDiv">

  <form class="mx-1 mx-md-4" [formGroup]="formValue">

    <section class="vh-100" *ngIf="showEmail" style="background-color: #eee;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 h3">Enter Your Registered Email-Id</p>




                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw mt-4"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Your Email</label>
                        <input type="email" formControlName="email" id="form3Example3c" class="form-control" />
                        <small *ngIf="email?.invalid && email?.touched && email?.errors?.['required']"
                          class="text-danger">Email is required</small>


                        <small *ngIf="email?.errors?.['email']" Class="text-danger">Email is invalid</small>
                        <small Class="text-danger">{{EmailRegistered}}</small>
                      </div>
                    </div>





                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" (click)="SubmitEmail()" [disabled]="email?.invalid"
                        class="btn btn-primary btn-lg">Next</button>
                    </div>

                    <!-- </form> -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="vh-100" *ngIf="showCode" style="background-color: #eee;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 h3">Enter The Code Sent To Your Email-Id</p>

                    <!-- <form class="mx-1 mx-md-4"> -->



                    <div class="d-flex flex-row align-items-center mb-4">

                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Code</label>
                        <input type="text" formControlName="code" id="form3Example3c" class="form-control" />
                        <small *ngIf="code?.invalid && code?.touched && code?.errors?.['required']"
                          class="text-danger">code is required</small>



                      </div>
                    </div>


                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" (click)="SubmitCode()" [disabled]="code?.invalid" class="btn btn-primary btn-lg">Next</button>
                    </div>

                    <!-- </form> -->

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="vh-100" *ngIf="showPassWord" style="background-color: #eee;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 h3">Reset Password</p>

                    <!-- <form class="mx-1 mx-md-4"> -->



                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Password</label>
                        <input type="password" formControlName="passWord" id="form3Example4c" class="form-control" />
                        <small *ngIf="passWord?.invalid && passWord?.touched && passWord?.errors?.['required']"
                          class="text-danger">Password is required</small>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label">Confirm password</label>
                        <input type="password" for="form3Example4cd" formControlName="confirmPassWord"
                          id="form3Example4cd" class="form-control" />
                        <small
                          *ngIf="confirmPassWord?.invalid && confirmPassWord?.touched && confirmPassWord?.errors?.['required'] "
                          class="text-danger">Confirm Password is required</small>
                        <small *ngIf="confirmPassWord?.errors?.['Mustmatch']" Class="text-danger">Password and Confirm
                          Password does not match</small>

                      </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" (click)="submitResetPassword()"
                        [disabled]="passWord?.invalid || passWord?.invalid"
                        class="btn btn-primary btn-lg">Submit</button>
                    </div>






                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>