
* {
    box-sizing: border-box;
  }

  



#adminform {
    padding: 0px;
 margin: 0px;
position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}

#content{
    border: solid 2px green;
}

#loginForm {
    /* width: 538px; */
    /* margin: 226px 0px 0px 475px; */
    position:absolute;
    top: 30%;
    left: 2%;
    
}





/* #adminformContent{
    padding: 0px 0px 0px 0px ;
    display: flex;
    flex-direction: column;
} */

#participantTracker {
    display: flex;
    position: absolute;
    left: 6%;
    top: 16%;
    width: auto;
}

#StudentTracker{
    margin-left: 0px;
}

#signin {
    position: absolute;
    left: 6%;
    top: 22%;
    width: auto;
}

#AdminInputName {
    font-size: 12px;
    /* width: auto; */
    height: 40px;
}

#AdminInputPassword {
    font-size: 12px;
    /* width: auto; */
    height: 40px;
    position: relative;
}

#adminbtn {
    /* margin: 8px 0px 0px 87px; */
    width: 117px;
    border: none;
    border-radius: 11%;
    background-color: rgb(255, 193, 7);
    height: 40px;
    position: absolute;
    top: 186px;
    right: 17px;
}

#ForgotPWbtn {
    width: 117px;
    border: none;
    border-radius: 11%;
    background-color: rgba(132, 250, 176, 1);
    height: 40px;
    position: absolute;
    top: 186px;
    left: 17px;
}

.RegisterBtn{
   
    background: #84fab0;
    

    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(255, 193, 7, 1));
    

    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(255, 193, 7, 1));
    width: 156px;
    border: none;
    background-color: rgba(132, 250, 176, 1);
    height: 40px;
    position: absolute;
    top: 257px;
    left: 106px;
    }


    #checkBox{
        margin: 5px 272px 0px 0px;
    }

#exampleInputPassword1,#AdminInputEmail{
    width: 300px;
    height:45px;
}

/* #AdminInputPassword:hover {
    box-shadow: 1px 1px 5px rgb(211, 211, 211);
    transform: scale(1.2,1.2);
}
#AdminInputName:hover {
    box-shadow: 1px 1px 5px rgb(211, 211, 211);
    transform: scale(1.2,1.2);
} */


#AdminInputPassword:focus {
    border-color:rgb(211, 211, 211);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(211, 211, 211);
    outline: 0 none;
}
#AdminInputName:focus {
    border-color:rgb(211, 211, 211);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(211, 211, 211);
    outline: 0 none;
}

#showHidePassword {
    margin: 3px 4px 0px 0px;
}


#footer {
    background-color: black;
    border: solid 2px black;
    height: 100px;
    width: 100%;
    margin-top: 659px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    bottom: -194px;
    left: 0px;
}
  #address {
    color: white;
    font-family: fangsong;
    /* margin: 2px 0px 0px 678px; */

}

#privacybtn {
    background-color: #ffc107;
    /* margin: 6px 0px 0px 678px; */
}

#errorMessage {
    color: red;
    color: red;
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: monospace;
    font-size: large;
}

#NewUser {

position: absolute;
top: 140px;
right: 166px;
margin-right: 19px;
}

#Logo, img{
    width: 315px;
    margin: auto;
}


#SignUpLink{
    margin: 23px 0px 0px 109px;
}


@media only screen and (min-width:768px) {
    #StudentTracker{
        margin-left: 10px;
    }

    #participantTracker {
        display: flex;
        position: absolute;
        left: 32%;
        top: 24%;
        width: auto;
    }
    
    #signin {
        position: absolute;
        left: 32%;
        top: 30%;
        width: auto;
    }

    #loginForm {
        /* width: 538px; */
        /* margin: 226px 0px 0px 475px; */
        position:absolute;
        top: 35%;
        left: 31%;
        width: 413px;
    }

    #NewUser {
        position: absolute;
        top: 148px;
        left: -2px;
    }

    #adminbtn {
        /* margin: 8px 0px 0px 87px; */
        width: 151px;
        border: none;
        background-color: rgb(255, 193, 7);
        height: 40px;
        position: absolute;
        top: 186px;
        right: 17px;
    }
    
    #ForgotPWbtn {
        width: 151px;
        border: none;
        background-color: rgba(132, 250, 176, 1);
        height: 40px;
        position: absolute;
        top: 186px;
        left: 17px;
    }
    
    .RegisterBtn{
       
        background: #84fab0;
        
    
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(255, 193, 7, 1));
        
    
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(255, 193, 7, 1));
        width: 215px;
        border: none;
        background-color: rgba(132, 250, 176, 1);
        height: 40px;
        position: absolute;
        top: 257px;
        left: 109px;
        }
        
        #errorMessage {
            color: red;
            color: red;
            position: absolute;
            top: 17%;
            left: 32%;
            font-family: monospace;
            font-size: large;
        }

        #footer {
            background-color: black;
            border: solid 2px black;
            height: 100px;
            width: 100%;
            margin-top: 659px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
            position: absolute;
            bottom: 0px;
            left: 0px;
        }

        #SignUpLink{
            margin: 23px 0px 0px 80px;
        }
        
}