
<!-- <div class="container h-100"  > -->

  
    

    
    <section class="vh-100 mb-5 " >
      <div class="container h-100 overflow-auto">
        <div class="row d-flex justify-content-center align-items-center h-100 ">
          <div class="col-lg-12 col-xl-11 ">
            <div class="card text-black " style="border-radius: 25px; ">
              <div class="card-body p-md-5 ">
                <div class="row justify-content-center ">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 ">
                    <div id="errorMessage">{{invalidUserMessage}}</div>
                      <span id="StudentTracker" class="row d-flex  "><p class="text-center h1 fw-bold mb-2 mx-1 mx-md-2 mt-4">Student</p><p class="text-center text-warning h1 fw-bold mb-2 mx-1 mx-md-2 mt-4">Tracker</p></span>
                    <p class="text-left h1 fw-bold mb-5 mx-1 mx-md-4 mt-2">Sign In</p>
    
                    <form class="mx-1 mx-md-4" [formGroup]="formValue" (ngSubmit)="submitLogin()">
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 mb-4 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" formControlName="userName" placeholder="Username" class="form-control " id="AdminInputName" />
                          
                        </div>
                      </div>
    
               
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 mb-4 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 position-relative">
                          <input type="password" [type]="showPassword ? 'text' : 'password'" formControlName="passWord" placeholder="Password" class="form-control " id="AdminInputPassword"  />
                         
                          <div class=" position-absolute " style="bottom:6px;right:20px;" >
                              <i alt="show" class="far fa-eye eye-show" 
                              (click)="showPassword = !showPassword"
                              [class.hide]="showPassword"></i>
                              <i alt="hide" class="far fa-eye-slash eye-hide" 
                              (click)="showPassword = !showPassword"
                              [class.hide]="!showPassword"></i>
                            </div>
                        </div>
                      </div>
    
                      
    
                      <div class="form-check d-flex justify-content-center mb-5 ml-5 float-left">
                          <input class="form-check-input me-2" type="checkbox" value=""   (change)="changeEvent($event)"  style="margin-right: 297px;"  id="checkBox" />
                          <label class="form-check-label" for="form2Example3g">
                            I agree to all statements in <a class="text-body"  data-toggle="modal" data-target="#exampleModalLong" ><u style="color: rgb(0, 153, 255);">Terms of Service</u></a>
                          </label>
                        </div>
                
            
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Terms of Service</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      We are delighted to have you as a Yoga Therapy student at Yoga Mandir. <br>
                
                      PLEASE READ THE FOLLOWING INFORMATION AND PROVIDE YOUR CONSENT: <br><br>
                       
                      Yoga is an ancient science and a transformative way of life. Regular, dedicated, continuous practice leads to deep levels of well-being and self-awareness. Yoga is also very popular as a curative and a preventive measure for human suffering. <br>
                       
                      I understand that yoga involves some form of physical exertion and stretching. I agree to inform my yoga therapist immediately of any movements which I feel could cause injury and not exceed my limits in the practice of yoga. I will practice with awareness and agree to take full responsibility for any discomfort or injury that I might experience. <br>
                       
                      During each session, physical contact between student and instructor may be necessary to properly teach and correct my yoga technique. I understand, accept and consent to such contact and recognize that the instructor will apply necessary contact in a professional manner. <br>
                       
                      I agree to clarify any concerns with the instructor in a timely manner. Yoga Mandir and the instructors shall not be held liable for any injury, loss or damage to property and/or persons sustained during or as a result of participation.
                      
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   
                  </div>
                </div>
                </div>
                </div>

                <!-- <div >
                  <button class=" font-weight-bold float-left mx-2" *ngIf="forgotPassWord" type="button" routerLink="/resetPassWord" class="btn btn-primary  btn-lg"><h6>Reset Password</h6></button>
                </div> -->
                <!-- *ngIf="forgotPassWord" -->
                <a class=" font-weight-bold float-left ml-5 mt-3"   routerLink="/resetPassWord" ><h3>Forgot Password?</h3></a>
                      <div class=" font-weight-bold float-right mx-2">
                        

                        <button type="submit"  [disabled]="toggleCheckBox" class="btn btn-warning btn-lg">Login</button>
                      </div>
    
                    </form>
                    <a id="SignUpLink" class=" font-weight-bold float-left mx-2" routerLink="/register" ><h3>Are you new here? <a routerLink="/register"> Signup</a></h3></a>
                  </div>
                  <div id="Logo" class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
    
                    <img src="/assets/images/YogaMandir.png" class="img-fluid" >


    
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </section>

    <!-- <div class="my-5" id="footer">
      <h3 id="address">
        address here
      </h3>
      <button routerLink="/privacy" id="privacybtn">
        Privacy 
      </button>
      
      </div> -->
      
      <footer id="footer">
        <!-- <h3 id="address">
          address here
        </h3> -->
        <button routerLink="/privacy" id="privacybtn">
          Privacy 
        </button>
      </footer>
        
<!-- </div> -->


