
* {
  box-sizing: border-box;
}



.maindiv{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width:100%;
  box-sizing: border-box;
  /* height: 100%; */
  overflow: hidden;
  position: relative;
  height: 100%;
  overflow-x: hidden !important;
}



#logo {
  height: 42px;
    width: 39px;
    
    
    margin: 5px 4px -4px 7px;

}

#participantTracker {
  display: flex;
  position: fixed;
  left: 0px;
}

nav{
  background-color: white;
  border-bottom: solid 1px black;
  width: 100%;
  height:68px;
  
}
#participantNavBar {
  background-color: white;
}

#user {
  
  position: fixed;
  right: 6px;
  margin: 0px 4px 0px 4px ;
}

#logout {
  position: absolute;
  right: 4px;
 
}



#searchBar {
  position: absolute;
    top: 76px;
    left: 62%;
    overflow-x: hidden;
    width: 120px;
}

#createdMsg {

  position:absolute;
  top: 226px;
  left: 35%;
  color: chocolate;
  font-family: monospace;
  font-size: larger;
}

#parti-Dash-Board{
  /* border: solid 2px red; */
  position: relative;
  width: auto;
  height: auto;
  margin-top: 201px;
  margin-bottom: 100px;
  overflow-y: scroll;
}
  


table {
    width: 100%;
    /* position: absolute;
    top: 258px; */
    /* background: hsla(205,46%,30%,1); */
     /* background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  */
    /* background-color: rgb(194, 132, 53); */
    /* margin-bottom: 1px; */
overflow-x: scroll;

   
  }

  .hidden {
    display: none;
}



  mat-paginator {
    /* color: rgb(222, 184, 135); */
    color: chocolate;
    /* background-color:rgb(0, 92, 99) ; */
    font-size: 16px;
    background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  
    background-color: rgb(194, 132, 53);
    /* position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    margin-top: 1px; */
    width: auto;
  }
  




  #participantTrackerp1,#participantTrackerp2 {
    margin: 13px 0px 0px 0px;
  }







  #parti-dash-board-p1{
    margin: 0px 0px 0px 7px;
    border-bottom: solid 6px #ffc107;
    height: 100%;
    width: 149px;
  }
  #parti-dash-board-p1 p {
    margin: 20px 0px 0px 90px;
    font-size: 15px;
    font-weight: 800;
  }

  #links{
    margin: 83px 0px 0px 0px;
    position: absolute;
    top: 11px;
    text-decoration: none;
  }
  #links, a {
    color: black;
  }



  #AddParti {
    /* margin: 18px 0px 0px 0px; */
    position: absolute;
    top: 137px;
  }

  #participantAddP1 {
    font-size: 28px;
    font-weight: 700;
    margin: 1px 12px 34px 0px;
  
  }

  #participantAddBtn {
    width: 80px;
    height: 35px;
    background-color: #ffc107;
    color: #000;
    border: solid 0px #ffc107;
    border-radius: 10%;
    margin-left: 11px;
  }


 

  ng-container:hover {
    transform: scale(1.2,1.2);
  }
 
  .newParti {
    position: absolute;
    right: 10%;
  }
  a{
    text-decoration: none;
  }


  #footer {
    background-color: black;
    border: solid 2px black;
    height: 100px;
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
  #address {
    color: white;
    font-family: fangsong;
    /* margin: 2px 0px 0px 678px; */

}

#privacybtn {
    background-color: #ffc107;
    /* margin: 6px 0px 0px 678px; */
}

@media (min-width:600px) {
  .lg\:block {
      display: table-cell !important;
  }

  .font-size\:large{
    font-size: x-small !important;
  }

  #searchBar {
    position:absolute;
    top: 117px;
    left: 62%;
    overflow-x: hidden;
    width: 120px;
  }

  #logo{
    height: 61px;
      width: 59px;
    
      margin: -3px 10px 2px 15px;
     
  }

  
} 






.lds-roller {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 26%;
    left: 44%;

}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
  
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
  background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  
    background-color: rgb(194, 132, 53);
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
  background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  
  background-color: rgb(194, 132, 53);

}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
  background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  
    background-color: rgb(194, 132, 53);

}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
  background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  
    background-color: rgb(194, 132, 53);

}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
  background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  
    background-color: rgb(194, 132, 53);

}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
  background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  
  background-color: rgb(194, 132, 53);
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
  background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  
  background-color: rgb(194, 132, 53);

}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
  background: linear-gradient(90deg, rgb(255, 255, 255)2%,rgb(222, 184, 135)120% );  
    background-color: rgb(194, 132, 53);

}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
