<div class="maindiv">
  <div id="participantNavBar">
    <!-- <mat-toolbar class="navbar navbar-expand" >
    <div id="participantTracker" >  <p id="participantTrackerp1" class="h3">Students</p> <p id="participantTrackerp2" class="h3 text-warning mx-2">Tracker</p></div>
     <div id="parti-dash-board-p1">
     <p >Students</p>
    </div>

    
      <a id="user" mat-button class="User">{{ UserNAME}} <mat-icon>account_circle</mat-icon>  </a> 
      <a id="logout" mat-button routerLink="/adminLogin" class="nav-link" (click)="logout()">Logout <mat-icon>logout</mat-icon> </a>

      
        
     
     
   </ mat-toolbar> -->
    <nav class="navbar navbar-expand-lg">
      <div id="participantTracker"> <img id="logo" src="/assets/images/YogaMandir.png" class="img-fluid ">
        <p id="participantTrackerp1" class="h3">Students</p>
        <p id="participantTrackerp2" class="h3 text-warning mx-2">Tracker</p>
      </div>


      <div id="user">

        <ul class="navbar-nav mr-auto">
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 4px;">
              {{UserNAME}} <mat-icon style="margin-top: 1.5px;font-size: 15px;">account_circle</mat-icon>
            </a>


            <a id="logout" ngbDropdownMenu routerLink="/therapystudenttracker" class="nav-link dropdown-item"
              (click)="logout()">Logout <i class="bi bi-box-arrow-right"></i></a>


          </li>
        </ul>

      </div>
    </nav>
  </div>


  <div class="lds-roller" *ngIf="showLoadingIndicator">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div id="createdMsg">{{createdMessage}}</div>

<!-- 
  <div id="links" class="d-flex flex-row mx-4">
    <a routerLink="/participentDashBoard">Home</a>/<a routerLink="/participentDashBoard">Students</a>/<a
      routerLink="/newparticipent">New</a>
  </div> -->

  <div id="AddParti" class="d-flex flex-row mx-4">
    <h1 id="participantAddP1">Students</h1> <button routerLink="/newparticipent" id="participantAddBtn">Add</button>
  </div>

  <div id="searchBar">
    <mat-form-field>
      <input type="text" matInput placeholder="Search" name="searchKey" [(ngModel)]="searchKey" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div id="parti-Dash-Board" class="mat-elevation-z9 table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>


      <ng-container matColumnDef="studentId">
        <th mat-header-cell mat-sort-header *matHeaderCellDef style="color:black;font-weight:800;font-size:15px">
          studentId</th>
        <td mat-cell *matCellDef="let element" style="margin:0px 2px 0px 2px ;"> {{element.studentId}} </td>
      </ng-container>



      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef style="color:black;font-weight:800;font-size:15px"> Name
        </th>
        <td mat-cell *matCellDef="let element" style="margin:0px 2px 0px 2px ;font-size:small;"> {{element.name}} </td>
      </ng-container>

      <!-- address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef style="color:black;font-weight:800;font-size:15px"> Address </th>
        <td mat-cell *matCellDef="let element" style="margin:0px 2px 0px 2px ;font-size:small;"> {{element.address}}
        </td>
      </ng-container>


      <!-- mobile Column -->
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef style="color:black;font-weight:800;font-size:15px"> Mobile Number </th>
        <td mat-cell *matCellDef="let element" style="margin:0px 2px 0px 2px ;font-size:small;"> {{element.mobile}}
        </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="hidden lg:block"
          style="color:black;font-weight:800;font-size:15px"> E-mail ID </th>
        <td mat-cell *matCellDef="let element" class="hidden lg:block"
          style="margin:0px 2px 0px 2px ; font-size:small;"> {{element.email}} </td>
      </ng-container>

      <!-- emergency-contact-name Column -->
      <ng-container matColumnDef="emergencyContactName">
        <th mat-header-cell *matHeaderCellDef style="color:black;font-weight:800;font-size:15px"> Name of emergency
          contact </th>
        <td mat-cell *matCellDef="let element" style="margin:0px 2px 0px 2px ;font-size:x-small;">
          {{element.emergencyContactName}} </td>
      </ng-container>

      <!-- emergency-contact-number Column -->

      <ng-container class="col-EmergencyContact" matColumnDef="emergencyContact">
        <th mat-header-cell *matHeaderCellDef class="hidden lg:block"
          style="color:black;font-weight:800;font-size:15px">Emergency contact </th>
        <td mat-cell *matCellDef="let element" class="hidden lg:block"
          style="margin:0px 2px 0px 2px ;font-size:ssmall;"> {{element.emergencyContact}} </td>
      </ng-container>

      <!-- emergency-contact-number Column -->
      <ng-container matColumnDef="referredBy">
        <th mat-header-cell *matHeaderCellDef style="color:black;font-weight:800;font-size:15px"> Reffered By </th>
        <td mat-cell *matCellDef="let element" style="margin:0px 2px 0px 2px ;font-size:x-small;">
          {{element.referredBy}} </td>
      </ng-container>

      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef style="color:black;font-weight:800;font-size:15px"> File </th>
        <td mat-cell *matCellDef="let element" style="margin:0px 2px 0px 2px ;font-size:x-small;"> {{element.file}}
        </td>
      </ng-container>



      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="color:black;font-weight:800;font-size:15px"> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link">


          <mat-icon id="editbutton" class="mx-2" (click)="onEdit(element)" [ngStyle]="{'color':'lightblue'}">edit
          </mat-icon>
          <mat-icon class="mx-2" id="deleteButton" (click)="deleteEmployee(element.studentId, element.name)"
            [ngStyle]="{'color':'red'}">delete</mat-icon>



          <mat-icon id="editbutton" class="mx-2 form-check-label" for="form2Example3g" data-toggle="modal"
            data-target="#exampleModalLong" (click)="fillFeedBack(element)" [ngStyle]="{'color':'blue'}">comment</mat-icon>



          
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title font-weight-bold" id="exampleModalLongTitle">Feedback</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 
                  <!-- <textarea name="" id="" formControlName="feedBack" cols="30" rows="10"></textarea> -->
                  <!--Material textarea-->

                  <form role="form" [formGroup]="formValue" method="put">
                  <div class="md-form">
                    <textarea id="feedBack" type="text"  class="md-textarea form-control" placeholder="FeedBack"    formControlName="feedBack"    rows="3"></textarea>
                   
                  </div>
                </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
                  <button type="button" (click)="FeedBack(element.studentId)"  data-dismiss="modal" class="btn btn-success float-right">Submit</button>

                </div>
              </div>
            </div>
          </div>
       


        </td>
      </ng-container>
      <!-- matTooltip="Edit Job" -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator matSuffix [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page of Participent elements">
    </mat-paginator>




  </div>

  <div id="footer">
    <!-- <h3 id="address">
      address here
    </h3> -->
    <button routerLink="/privacy" id="privacybtn">
      Privacy
    </button>

  </div>

</div>