

<div id="mainDiv">
  <div  id="participantNavBar" >
     
       <nav  class="navbar navbar-expand-lg">
        <div id="participantTracker" >  <p id="participantTrackerp1" class="h3">Students</p> <p id="participantTrackerp2" class="h3 text-warning mx-2">Tracker</p></div>
     
      
        <div id="user" >
              <a  class="nav-link "  id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false" style="margin-bottom: 4px;">
               {{UserNAME}} <mat-icon style="margin-top: 1.5px;font-size: 15px;">account_circle</mat-icon>
              </a>
        </div>
      </nav>
     </div>
     <div *ngIf="roleID == '1'" id="home">
      <a routerLink="/participentDashBoard"><i id="homeIcon" class="material-icons float-right mx-4">home</i></a>
    </div>
  
    <div *ngIf="roleID == '2'" id="home">
      <a routerLink="/userProfile"><i id="homeIcon" class="material-icons float-right mx-4">home</i></a>
    </div>
<!-- Grid row -->
<div class="row pt-5 d-flex justify-content-center" id="stepperZone">

<!-- Grid column -->
<div style="margin-bottom: -234px;" class="col-md-2 pl-5 pl-md-0 pb-5">

<!-- Stepper -->
    <div class="steps-form-3">
        <div class="steps-row-3 setup-panel-3 d-flex justify-content-between">
            <div  class="steps-step-3">
                <a id="step1" type="button" (click)="showStep1()" class="btn btn-info btn-circle-3 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="New Student" >1</a>
            </div>
            <div  class="steps-step-3">
                <a id="step2" type="button" (click)="showStep2()" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="General Information" >2</a>
            </div>
            <div class="steps-step-3">
                <a id="step3"  type="button" (click)="showStep3()" class="btn btn-pink btn-circle-3 waves-effect" data-toggle="tooltip" data-placement="top" title="Lifestyle, Fitness and Medical History" >3</a>
            </div>
            <div  class="steps-step-3 no-height">
                <a id="step4" type="button" (click)="showStep4()" class="btn btn-pink btn-circle-3 waves-effect p-3" data-toggle="tooltip" data-placement="top" title="Reasons for choosing Yoga Therapy" >4</a>
            </div>
        </div>
    </div>

</div>
<!-- Grid column -->

<!-- Grid column -->
<div id="stepperContent" class="col-md-7">

    <form role="form"  [formGroup]="formValue"  method="post">


        <!-- First Step -->
        <div class="row setup-content-3" *ngIf="show1" id="step-1">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Update Student</strong></h3>
                <h5>Namasthe ! We request you to share information about your general wellbeing and goals from yoga therapy to make your sessions as effective as possible. If at <br>
                  any time you have questions do let us know during any of your sessions.</h5>
                <h5 >This form will take approximately 8 minutes to complete</h5>
                <div class="form-group md-form">
                  <label for="InputName" class="form-label">Name<sup>*</sup>: </label>
                  <input type="text" formControlName="name" placeholder="First / Middle / Last Name"   class="form-control"  >
                  <small *ngIf="name?.invalid && name?.touched && name?.errors?.['required'] "  class="text-danger">Name is required</small>
                  <small  *ngIf="name?.errors?.['pattern']" Class="text-danger">Name is invalid, should start with uppercase letters and only aplhabets</small>
                </div>
                <div class="form-group md-form">
                  <label for="InputAddress" class="form-label">Address<sup>*</sup>:</label>
                  <textarea type="text" formControlName="address" class="form-control"  placeholder="House No, Building/Apartment name, Street, Area, City, Pincode"></textarea>
                  <small *ngIf="address?.invalid && address?.touched && address?.errors?.['required'] "  class="text-danger">Adress is required</small>
                </div>
                <div class="form-group md-form mt-3">
                  <label for="InputMobile" class="form-label">Mobile Number<sup>*</sup>:</label>
                  <input type="text" formControlName="mobile" placeholder="10 digit mobile number"   class="form-control" >
                  <small *ngIf="mobile?.invalid && mobile?.touched && mobile?.errors?.['required'] "  class="text-danger">Mobile Number is required</small>
                  <small  *ngIf="mobile?.errors?.['pattern']" Class="text-danger">PhoneNumber is invalid</small>
                </div>
                <div class="form-group md-form mt-3">
                  <label for="InputEmail" class="form-label">E-mail Id<sup>*</sup>:</label>
                  <input type="email"  formControlName="email" placeholder="e.g., username@gmail.com"  class="form-control" >
                  <small *ngIf="email?.invalid && email?.touched && email?.errors?.['required'] "  class="text-danger">Email is required</small>
                  <small class="text-danger" *ngIf="email?.errors?.['email']">Email is invalid</small>
                </div>
                <div class="form-group md-form mt-3">
                  <label for="InputEmergencyName" class="form-label">Name of emergency contact<sup>*</sup>:</label>
            <input type="text" formControlName="emergencyName" placeholder="Name"   class="form-control">
            <small *ngIf="emergencyName?.invalid && emergencyName?.touched && emergencyName?.errors?.['required'] "  class="text-danger">Emergency Name is required</small>
            <small  *ngIf="emergencyName?.errors?.['pattern']" Class="text-danger">Name is invalid, should start with uppercase letters and only aplhabets</small>
              </div>
              <div class="form-group md-form mt-3">
                  <label for="InputEmergencyNumber" class="form-label">Contact number for emergency contact<sup>*</sup> :</label>
                  <input type="text" formControlName="emergencyContact" placeholder="10 digit mobile number"   class="form-control" >
                  <small  *ngIf="emergencyContact?.invalid && emergencyContact?.touched && emergencyContact?.errors?.['required'] "  class="text-danger">Emergency contact is required</small>
                  <small  *ngIf="emergencyContact?.errors?.['pattern']" Class="text-danger">PhoneNumber is invalid</small>
              </div>
              <div class="form-group md-form mt-3">
                  <label for="InputReferredBy" class="form-label">Referred by <sup>*</sup>:</label>
            <input formControlName="referredBy" type="text" placeholder="Name, Flyer, Ad, website, etc."  class="form-control" >
            <small *ngIf="referredBy?.invalid && referredBy?.touched &&  referredBy?.errors?.['required'] "  class="text-danger">Name is required</small>
              </div> 
                <button id="nxtbtn1" [disabled]="name?.invalid || address?.invalid || mobile?.invalid || email?.invalid || emergencyName?.invalid || emergencyContact?.invalid || referredBy?.invalid"  class="btn btn-mdb-color btn-rounded nextBtn-3 float-right  nextBtn" (click)="showStep2()" type="button">Next</button>
            </div>
        </div>


        <!-- Second Step -->
        <div class="row setup-content-3" *ngIf="show2" id="step-2">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>General Information</strong></h3>
                <div class="form-group md-form mt-3">
                  <label for="InputGender" class="form-label ">Gender<sup>*</sup>: </label>
            <select placeholder="Select Gender"  formControlName="gender"  [value]="" class="form-control " name="" >
              <option value="" disabled selected hidden style="font-size: 8px;">Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Prefer not to say">Prefer not to say</option>
            </select>
            <small  *ngIf="gender?.invalid && gender?.touched && gender?.errors?.['required'] "  class="text-danger">Gender is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputDateOfBirth" class="form-label">Date of birth<sup>*</sup>:</label>
                  <input formControlName="dateOfBirth" type="Date" class="form-control"  placeholder="mmddyy" required>
                  <small *ngIf="dateOfBirth?.invalid && dateOfBirth?.touched && dateOfBirth?.errors?.['required'] "  class="text-danger">Date Of Birth is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputOccupation" class="form-label">Occupation<sup>*</sup>:</label>
                  <input type="text" formControlName="occupation"   class="form-control"  required>
                  <small  *ngIf="occupation?.invalid && occupation?.touched && occupation?.errors?.['required'] "  class="text-danger">Occupation is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputEducation" class="form-label">Education<sup>*</sup>:</label>
                  <input type="text" formControlName="education" placeholder="(e.g., 10th / 12th / Graduate / Post-Graduate)"  class="form-control"  required>
                  <small  *ngIf="education?.invalid && education?.touched && education?.errors?.['required'] "  class="text-danger">Education is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputRelationShipStatus" class="form-label">Relationship<sup>*</sup>:</label>
            <select placeholder="Select marital status" formControlName="relationship"  [value]="" class="form-control " name="" >
              <option value="" disabled selected hidden>Select marital status</option>
              <option  value="Single">Single</option>
              <option  value="Married">Married</option>
              <option  value="Other">Other</option>
             
            </select>
            <small  *ngIf="relationship?.invalid && relationship?.touched && relationship?.errors?.['required'] "  class="text-danger">Relationship is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputDateOfJoing" class="form-label">Date of joining<sup>*</sup>:</label>
                  <input type="Date" formControlName="dateOfJoining" class="form-control"  placeholder="mmddyy" required>
                  <small  *ngIf="dateOfJoining?.invalid && dateOfJoining?.touched && dateOfJoining?.errors?.['required'] "  class="text-danger">Joing Date is required</small>
              </div>

             
              
            
                <button class="btn btn-mdb-color btn-rounded prevBtn-3 float-left prevBtn" (click)="showStep1()" type="button">Previous</button>
                <button id="nxtbtn2" [disabled]="gender?.invalid || dateOfBirth?.invalid || occupation?.invalid || education?.invalid || relationship?.invalid || dateOfJoining?.invalid " class="btn btn-mdb-color btn-rounded nextBtn-3 float-right nextBtn" (click)="showStep3()" type="button">Next</button>
            </div>
        </div>


        <!-- Third Step -->
        <div class="row setup-content-3" *ngIf="show3" id="step-3">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Lifestyle, Fitness and Medical History</strong></h3>
                <div class="form-group md-form mt-3">
                  <label for="InputLifeStyle1" class="form-label">Height<sup>*</sup>:</label>
                  <select placeholder="Select marital status" formControlName="height" [value]="" class="form-control " name="" >
                    <option value=""  style="font-size: 8px;">(eg., 6 feet 1 inch)</option>
                    <optgroup label="3&rsquo;">
                      <option value="91.44 cm  ">  91.44 cm     </option>
                      <option value="93.98 cm  ">  93.98 cm     </option>
                      <option value="96.52 cm  ">  96.52 cm     </option>
                      <option value="99.06 cm  ">  99.06 cm     </option>
                      <option value="101.6 cm  ">  101.6 cm     </option>
                      <option value="104.14 cm ">  104.14 cm     </option>
                      <option value="106.68 cm ">  106.68 cm     </option>
                      <option value="109.22 cm ">  109.22 cm     </option>
                      <option value="111.76 cm ">  111.76 cm     </option>
                      <option value="114.3 cm  ">  114.3 cm     </option>
                      <option value="116.84 cm  "> 116.84 cm     </option>
                      <option value="119.38 cm  "> 119.38 cm     </option>
                    </optgroup >        
                    
                    <optgroup label="4&rsquo;">
                      <option value="121.92 cm">  121.92 cm</option>
                      <option value="124.46 cm">  124.46 cm</option>
                      <option value="127.00 cm">  127.00 cm</option>
                      <option value="129.54 cm">  129.54 cm</option>
                      <option value="132.08 cm">  132.08 cm</option>
                      <option value="134.62 cm">  134.62 cm</option>
                      <option value="137.16 cm">  137.16 cm</option>
                      <option value="139.70 cm">  139.70 cm</option>
                      <option value="142.24 cm">  142.24 cm</option>
                      <option value="144.78 cm">  144.78 cm</option>
                      <option value="147.32 cm "> 147.32 cm </option>
                      <option value="149.86 cm "> 149.86 cm </option>
                    </optgroup>
                   
                    <optgroup label="5&rsquo;"> selected="selected"
                      <option value="152.40 cm"> 152.40 cm</option>
                      <option value="154.94 cm"> 154.94 cm</option>
                      <option value="157.48 cm"> 157.48 cm</option>
                      <option value="160.02 cm"> 160.02 cm</option>
                      <option value="162.56 cm"> 162.56 cm</option>
                      <option value="165.10 cm"> 165.10 cm</option>
                      <option value="167.64 cm"> 167.64 cm</option>
                      <option value="170.18 cm"> 170.18 cm</option>
                      <option value="172.72 cm"> 172.72 cm</option>
                      <option value="175.26 cm"> 175.26 cm</option>
                      <option value="177.80 cm ">177.80 cm </option>
                      <option value="180.34 cm ">180.34 cm </option>
                    </optgroup>
                    <optgroup label="6&rsquo;">
                      <option value="182.88 cm"> 182.88 cm</option>
                      <option value="185.42 cm"> 185.42 cm</option>
                      <option value="187.96 cm"> 187.96 cm</option>
                      <option value="190.50 cm"> 190.50 cm</option>
                      <option value="193.04 cm"> 193.04 cm</option>
                      <option value="195.58 cm"> 195.58 cm</option>
                      <option value="198.12 cm"> 198.12 cm</option>
                      <option value="200.66 cm"> 200.66 cm</option>
                      <option value="203.20 cm"> 203.20 cm</option>
                      <option value="205.74 cm"> 205.74 cm</option>
                      <option value="208.28 cm ">208.28 cm </option>
                      <option value="210.82 cm ">210.82 cm </option>
                    </optgroup>
                  </select>
                  <small  *ngIf="height?.invalid && height?.touched && height?.errors?.['required'] "  class="text-danger">Height is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputLifeStyle2" class="form-label">Weight(kgs)<sup>*</sup></label>
                  <input formControlName="weight" type="text" placeholder="(e.g.,50.9 in kgs)"  class="form-control"  required>
                  <small  *ngIf="weight?.invalid && weight?.touched && weight?.errors?.['required'] "  class="text-danger">Weight is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputLifeStyle3" class="form-label">How do you rate your current level of activity?<sup>*</sup></label>
          <select formControlName="currentLevelOfActivity"  [value]="" class="form-control " name="" >
            <option value="" disabled selected hidden>Select One</option>
            <option  value="Sedentary(very inactive)">Sedentary(very inactive)</option>
            <option  value="Somewhat inactive">Somewhat inactive</option>
            <option  value="Average">Average</option>
            <option  value="Somewhat active">Somewhat active</option>
            <option  value="Extremely active">Extremely active</option>         
          </select>
          <small  *ngIf="levelOfActivity?.invalid && levelOfActivity?.touched && levelOfActivity?.errors?.['required'] "  class="text-danger">Current level of activity is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputLifeStyle4" class="form-label">What is your current routine of physical exercise ( at least 15 mins daily) ? <sup>*</sup></label>
                  <select  formControlName="currentRoutine" [value]="" class="form-control " name="" >
                    <option value="" disabled selected hidden>Select</option>
                    <option  value="None">None</option>
                    <option  value="Walking">Walking</option>
                    <option  value="Any form of yoga (asanas)">Any form of yoga (asanas)</option>
                    <option  value="Gym workout">Gym workout</option>
                    <option  value="Other">Other</option>
                  </select> 
                  <small  *ngIf="currentRoutine?.invalid && currentRoutine?.touched && currentRoutine?.errors?.['required'] "  class="text-danger">Current routine is required</small> 
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputLifeStyle5" class="form-label">Which aspects of your life give you the most stress? <sup>*</sup></label>
                  <select formControlName="mostStress"  [value]="" class="form-control " name="" >
                    <option value="" disabled selected hidden>Select</option>
                    <option  value="Personal(health, employment, financial status etc)">Personal(health, employment, financial status etc)</option>
                    <option  value="Family or relationships">Family or relationships</option>
                    <option  value="Work">Work</option>
                    <option  value="Social">Social</option>
                    <option  value="No stress">No stress</option>
                  </select> 
                  <small  *ngIf="mostStress?.invalid && mostStress?.touched && mostStress?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputLifeStyle6" class="form-label">Do you regularly practice any form of pranayama(breathing) or meditation(mindfulness)? <sup>*</sup></label>
                  <select formControlName="pranayamaPractice"  [value]="" class="form-control " name="">
                    <option value="" disabled selected hidden>Select</option>
                    <option  value="Pranayama(Breathing)">Pranayama(Breathing)</option>
                    <option  value="Mediation(Mindfulness)">Mediation(Mindfulness)</option>
                    <option  value="Both pranayama and meditation">Both pranayama and meditation</option>
                    <option  value="None">None</option>
                  </select> 
                  <small  *ngIf="pranayama?.invalid && pranayama?.touched && pranayama?.errors?.['required'] "  class="text-danger">This Information is required</small> 
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputLifeStyle7" class="form-label">Any surgery, acute, or chronic illness? Please list details including year, ongoing, medication etc)<sup>*</sup></label>
                  <textarea formControlName="anySurgery" type="text" class="form-control"  ></textarea>
                  <small  *ngIf="anySurgery?.invalid && anySurgery?.touched && anySurgery?.errors?.['required'] "  class="text-danger">This information is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputLifeStyle8" class="form-label">Any medical diagnosis about psychological health condition now or in the past?<sup>*</sup></label>
          <select formControlName="anyMedical"  [value]="" class="form-control " name="" >
            <option value="" disabled selected hidden>Select</option>
            <option  value="Anxiety">Anxiety</option>
            <option  value="Depression">Depression</option>
            <option  value="PTSD">PTSD</option>
            <option  value="None">None</option>
            <option  value="Other">Other</option>
          </select>   
          <small  *ngIf="anyMedical?.invalid && anyMedical?.touched && anyMedical?.errors?.['required'] "  class="text-danger">This information is required</small>
              </div>

              <div class="form-group md-form mt-3">
                <label for="InputLifeStyle9" class="form-label">How is your quality of sleep in general?<sup>*</sup></label>
                <select formControlName="sleepQuality" [value]="" class="form-control " name="">
                  <option value="" disabled selected hidden>Select</option>
                  <option value="Sound sleep">Sound sleep</option>
                  <option value="Disturbed sleep">Disturbed sleep</option>
                  
                </select>
                <small *ngIf="sleepQuality?.invalid && sleepQuality?.touched && sleepQuality?.errors?.['required'] "
                  class="text-danger">This information is required</small>
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputLifeStyle10" class="form-label">Have you smoked either in the past or are smoking in the present? <sup>*</sup></label>
            <select  formControlName="smoked" [value]="" class="form-control " name="" >
              <option value="" disabled selected hidden>Select</option>
              <option  value="Smoked in the past">Smoked in the past</option>
              <option  value="Smoking presentely">Smoking presentely</option>
              <option  value="Never smoked">Never smoked</option>
            </select>
            <small  *ngIf="smoked?.invalid && smoked?.touched && smoked?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>
                <button class="btn btn-mdb-color btn-rounded prevBtn-3 float-left" (click)="showStep2()" type="button">Previous</button>
                <button id="nxtbtn3" [disabled]="height?.invalid || weight?.invalid || levelOfActivity?.invalid || currentRoutine?.invalid || mostStress?.invalid || pranayama?.invalid || anySurgery?.invalid || anyMedical?.invalid || smoked?.invalid" class="btn btn-mdb-color btn-rounded nextBtn-3 float-right nextBtn" (click)="showStep4()" type="button">Next</button>
            </div>
        </div>


        <!-- Fourth Step -->
        <div class="row setup-content-3" *ngIf="show4" id="step-4">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Reasons for choosing Yoga Therapy</strong></h3>
                
                <div class="form-group md-form mt-3">
                  <label for="InputReason1" class="form-label">What is your primary reason for choosing Yoga Therapy?</label>
                  <input type="text" placeholder="Select/Enter"  formControlName="reasonForYoga"  class="form-control "  list="reason"> 
                  <datalist  id="reason">
                    <option value="None" >None</option>
                    <option  value="Medical condition">Medical condition</option>
                    <option  value="Post surgery or injury rehabilitation">Post surgery or injury rehabilitation</option>
                    <option  value="Pain management">Pain management</option>
                    <option  value="Weight management">Weight management</option>
                    <option  value="Stress management">Stress management</option>
                    <option  value="Improve posture and balance">Improve posture and balance</option>
                    <option  value="Improve fitness">Improve fitness</option>
                    <option  value="Improve general well-being">Improve general well-being</option>
                    <option  value="Other">Other</option>
                   
                  </datalist>
                  <small  *ngIf="reasonForYoga?.invalid && reasonForYoga?.touched && reasonForYoga?.errors?.['required'] "  class="text-danger">This information is required</small>  
                </div>

                <div class="form-group md-form mt-3">
                  <label for="InputReason2" class="form-label">Musculoskeletal: select the condition that you are currently experiencing</label>
                  <input type="text" placeholder="Select/Enter" formControlName="musculoskeletal"  class="form-control " list="Musculoskeletal"> 
          <datalist  id="Musculoskeletal">
            <option value="" disabled selected hidden>Select One</option>
            <option  value="Neck or shoulder Pain">Neck or shoulder Pain</option>
            <option  value="Back pain">Back pain</option>
            <option  value="Joint pain">Joint pain</option>
            <option  value="Stiffness">Stiffness</option>
            <option  value="Fibromyalgia(chronic muscle ang joint pain)">Fibromyalgia(chronic muscle ang joint pain)</option>
            <option  value="Osteoporosis(low bone density)">Osteoporosis(low bone density)</option>
            <option  value="Arthritis">Arthritis</option>
            <option  value="Accidents(Physical Trauma)">Accidents(Physical Trauma)</option>
            <option  value="Repetitive Strain Injury(RSI)">Repetitive Strain Injury(RSI)</option>
            <option  value="Muscle, Tendon or Ligament tear">Muscle, Tendon or Ligament tear</option>
            <option  value="Fracture or dislocation">Fracture or dislocation</option>
            <option  value="Vertigo">Vertigo</option>
            <option  value="Balance Problems">Balance Problems</option>
            <option  value="None">None</option>
            <option  value="Other">Other</option>
          </datalist>
          <small  *ngIf="musculoskeletal?.invalid && musculoskeletal?.touched && musculoskeletal?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputReason3" class="form-label">Respiratory: select the condition that you are currently experiencing</label>
                  <input type="text" placeholder="Select/Enter" formControlName="respiratory"  class="form-control" list="Respiratory"> 
                  <datalist id="Respiratory" >
                    <option value="" disabled selected hidden>Select One</option>
                    <option  value="Allergies">Allergies</option>
                    <option  value="Sleep Apnea">Sleep Apnea</option>
                    <option  value="Asthma">Asthma</option>
                    <option  value="Bronchitis">Bronchitis</option>
                    <option  value="Lung isues">Lung Issues</option>
                    <option  value="None">None</option>
                    <option  value="Other">Other</option>
                  </datalist>
                  <small  *ngIf="respiratory?.invalid && respiratory?.touched && respiratory?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputReason4" class="form-label">Cardiovascular: select the condition that you are currently experiencing</label>
                  <input type="text" placeholder="Select/Enter" formControlName="cardiovascular"  class="form-control "   list="Cardiovascular"> 
                  <datalist id="Cardiovascular">
                    <option value="" disabled selected hidden>Select One</option>
                    <option  value="High Blood Pressure">High Blood Pressure</option>
                    <option  value="Low Blood Pressure">Low Blood Pressure</option>
                    <option  value="Heart palpitations">Heart palpitations</option>
                    <option  value="Heart murmur">Heart murmur</option>
                    <option  value="Heart attack(Stent placement)">Heart attack(Stent placement)</option>
                    <option  value="Heart attack(Bypass surgery)">Heart attack(Bypass surgery)</option>
                    <option  value="None">None</option>
                    <option  value="Other">Other</option>
                   
                  </datalist>
                  <small  *ngIf="cardiovascular?.invalid && cardiovascular?.touched && cardiovascular?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputReason5" class="form-label">Circulatory: select the condition that you are currently experiencing</label>
                  <input type="text" placeholder="Select/Enter" formControlName="circulatory"  class="form-control "     list="Circulatory"> 
                  <datalist id="Circulatory">
                    <option value="" disabled selected hidden>Select One</option>
                    <option  value="Bruise easily">Bruise easily</option>
                    <option  value="Varicose veins">Varicose veins</option>
                    <option  value="Swollen or painful lymph nodes">Swollen or painful lymph nodes</option>
                    <option  value="Poor Circulation">Poor Circulation</option>
                    <option  value="None">None</option>
                    <option  value="Other">Other</option>
                  </datalist>
                  <small  *ngIf="circulatory?.invalid && circulatory?.touched && circulatory?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputReason6" class="form-label">Neurological: select the condition that you are currently experiencing</label>
                  <input type="text" placeholder="Select/Enter" formControlName="neurological"  class="form-control "    list="Neurological"> 
                  <datalist  id="Neurological">
                    <option value="" disabled selected hidden>Select One</option>
                    <option  value="Stroke">Stroke</option>
                    <option  value="Seizure">Seizure</option>
                    <option  value="Headaches">Headaches</option>
                    <option  value="Migraines">Migraines</option>
                    <option  value="Insomnia">Insomnia</option>
                    <option  value="Anxiety">Anxiety</option>
                    <option  value="Depression">Depression</option>
                    <option  value="Traumatic brain injury">Traumatic brain injury</option>
                    <option  value="Alzheimer's">Alzheimer's</option>
                    <option  value="Multiple Sclerosis">Multiple Sclerosis</option>
                    <option  value="None">None</option>
                    <option  value="Other">Other</option>
                    </datalist>
                  <small  *ngIf="neurological?.invalid && neurological?.touched && neurological?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputReason7" class="form-label">Gastrointestinal: select the condition that you are currently experiencing</label>
                  <input type="text" placeholder="Select/Enter" formControlName="gastrointestinal" class="form-control"     list="Gastrointestinal"> 
                  <datalist  id="Gastrointestinal">
                    <option value="" disabled selected hidden>Select One</option>
                    <option  value="Acidity">Acidity</option>
                    <option  value="Constipation">Constipation</option>
                    <option  value="Irritable Bowel Syndrome(IBS)">Irritable Bowel Syndrome(IBS)</option>
                    <option  value="Acute Gastritis">Acute Gastritis</option>
                    <option  value="Diarrhea">Diarrhea</option>
                    <option  value="None">None</option>
                    <option  value="Other">Other</option>
                  </datalist>
                  <small  *ngIf="gastrointestinal?.invalid && gastrointestinal?.touched && gastrointestinal?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputReason8" class="form-label">Endocrinological: select the condition that you are currently experiencing</label>
                  <input type="text" placeholder="Select/Enter" formControlName="endocrinological"  class="form-control"     list="Endocrinological"> 
                  <datalist id="Endocrinological" >
                    <option value="" disabled selected hidden>Select One</option>
                    <option  value="Low Blood Sugar(hypoglycemia)">Low Blood Sugar(hypoglycemia)</option>
                    <option  value="Diabetes">Diabetes</option>
                    <option  value="Thyroid Issues">Thyroid Issues</option>
                    <option  value="None">None</option>
                    <option  value="Other">Other</option>
                  </datalist>
                  <small  *ngIf="endocrinological?.invalid && endocrinological?.touched && endocrinological?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>

              <div class="form-group md-form mt-3">
                  <label for="InputReason9" class="form-label">Gynecological / Urological: Select the condition that you are currently experiencing</label>
                  <input type="text" placeholder="Select/Enter" formControlName="gynecologicalOrUrological"  class="form-control "     list="GynecologicalorUrological"> 
          <datalist  id="GynecologicalorUrological" >
            <option value="" disabled selected hidden>Select One</option>
          
            <option  value="(Women) Menstrual disorders">(Women) Menstrual disorders</option>
            <option  value="(Women) Peri-Menopausal(around menopause)">(Women) Peri-Menopausal(around menopause)</option>
            <option  value="(Women) Post-Menopausal(after menopause)">(Women) Post-Menopausal(after menopause)</option>
            <option  value="(Men) Prostate Issues">(Men) Prostate Issues</option>
            <option  value="Urinary incontinence (frequent urination)">Urinary incontinence (frequent urination)</option>
            <option  value="(Women) Ploy cystic ovary Syndrome(PCOS)">(Women) Ploy cystic ovary Syndrome(PCOS)</option>
            <option  value="None">None</option>
            <option  value="Other">Other</option>
          </datalist>
          <small  *ngIf="gynecological?.invalid && gynecological?.touched && gynecological?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>

              <div class="form-group md-form mt-3">
                <label for="InputReason9" class="form-label">Pregnancy</label>
                <input type="text" placeholder="Select/Enter" formControlName="pregnancy"  class="form-control "     list="Pregnancy"> 
        <datalist  id="Pregnancy" >
          <option value="" disabled selected hidden>Select One</option>
         
          <option  value="Prenatal (before childbirth)">Prenatal (before childbirth)</option>
          <option  value="Postnatal (after childbirth)">Postnatal (after childbirth)</option>
          <option  value="None">None</option>
          <option  value="Other">Other</option>
        </datalist>
        <small  *ngIf="pregnancy?.invalid && pregnancy?.touched && pregnancy?.errors?.['required'] "  class="text-danger">This information is required</small>  
            </div>

              <div class="form-group md-form mt-3">
                  <label for="InputReason10" class="form-label">Other medical conditions</label>
                  <input type="text" placeholder="Select/Enter" formControlName="otherMedicalConditions"  class="form-control "     list="OtherMedical">
          <datalist  id="OtherMedical">
            <option value="" disabled selected hidden>Select One</option>
            <option  value="Cancer">Cancer</option>
            <option  value="Auto-immune condition">Auto-immune condition</option>
            <option  value="None">None</option>
            <option  value="Other">Other</option>
          </datalist>
          <small  *ngIf="otherMedicalConditons?.invalid && otherMedicalConditons?.touched && otherMedicalConditons?.errors?.['required'] "  class="text-danger">This information is required</small>  
              </div>


              <div class="form-group md-form mt-3">
                  <label for="InputReason11" class="form-label">Any other information that you would like us to be aware of related to your health or mind?</label>
                   <textarea formControlName="otherInformations" type="text" class="form-control"  ></textarea>
                   
              </div>

                <button class="btn btn-mdb-color btn-rounded prevBtn-3 float-left" (click)="showStep3()"  type="button">Previous</button>
                <button [disabled]="formValue.invalid" class="btn btn-success btn-rounded float-right nextBtn-3" routerLink="/participentDashBoard" (click)="updateStudent()" type="submit">Submit</button>
            </div>
        </div>
    </form>

</div>
<!-- Grid column -->

</div>
<!-- Grid row -->
</div>