<!-- 
  <div class="maindiv">
   
    <mat-toolbar >
      <h4>Application</h4>
       <a mat-button routerLink="/newparticipent" class="User">User<i class="fa-solid fa-user"></i></a> 
     </ mat-toolbar>
  
 

<div class="NewPartiContent">
  <div class="list">
    <mat-vertical-stepper>
      <mat-step routerLink="/contactinfo" label="Contact Info">
        
      </mat-step>
      <mat-step routerLink="/generalinfo" label="General Info">
        
      </mat-step>
      <mat-step routerLink="/lifestyle" label="LifeStyle">
       
      </mat-step>
      <mat-step routerLink="/reasons" label="Reasons">
        
      </mat-step>
    </mat-vertical-stepper>
  </div>
  

  <div class="ContactInfo">
<p>Reasons working!</p>

  </div>
</div>

</div>
 -->
