


#mainDiv {
    /* border: solid 2px green; */
    
}

#participantTracker {
    display: flex;
    position: absolute;
    left: 0px;
    bottom: -9px;
  }
  



  nav{
    background-color: white;
    border-bottom: solid 1px black;
    width: 100%;
    
  }
  #participantNavBar {
    background-color: white;
  }
  
  #user {
    
    position: absolute;
    right: 6px;
    margin: 0px 4px 0px 4px ;
  }

/* stepper zone starts */

#stepperZone {
    /* border: solid 2px red; */
}

h3, h5 {
    margin: 0px 0SSSSSSpx;
}


.steps-form-3 
{
    width: 2px;
height: 224px;
    position: relative;
    left: 26px;
 }

@media(min-width:768px) {
    
    /* #steppersContent{
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: -234px;
    } */
    #homeIcon {
        font-size: 38px;
    }
    

    
.steps-form-3 .steps-row-3 
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
    margin-left: 4px;
}

.steps-form-3 .steps-row-3:before 
{
    top: 14px;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #7283a7; 
}

}

#stepperContent {
    margin: 0px 14px ;
}



.steps-form-3 .steps-row-3 .steps-step-3 
{
    height: 78px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    position: relative; 
}

.steps-form-3 .steps-row-3 .steps-step-3.no-height
 {
    height: 50px; 
}

.steps-form-3 .steps-row-3 .steps-step-3 p 
{
margin-top: 0.5rem;
 }

.steps-form-3 .steps-row-3 .steps-step-3 button[disabled]
 {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; 
    
}


.nextBtn-3 {
    /* border: solid 2px red; */
    width: 100px;
    height: 35px;
    margin-bottom: 40px;
    background-color: #ffc107;
}

.prevBtn-3 {
    width: 100px;
    height: 35px;
    margin-bottom: 40px;
    background-color: rgba(144, 143, 143, 0.907);
}

.steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3 {
    width: 46px;
    height: 46px;
    border: 2px solid #59698D;
    background-color:#4285F4 !important;
    color:#ffc107 !important;
    border-radius: 50%;
    padding: 9px 18px 15px 15px;
    margin-top: -22px; 
    margin-left: 4px;
}

.steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3:hover {
    border: 2px solid #4285F4;
    color: #4285F4 !important;
    background-color: white !important; }

.steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3 .fa {
    font-size: 1.7rem; }

    /* stepper zone ends */

    sup {
        color:red
    }

    #uploadInput {
        margin: 5px 0px 5px 0px;


    }

    #uploadBtn {
        margin: 0px 0px 0px 183px;
    }

