



#mainDiv{
    display: flex;
    flex-direction: column;
    
    width:100%;
   overflow-y: hidden;
  }


  #participantTracker {
    display: flex;
    position: absolute;
    left: 0px;
    bottom: -9px;
  }
  
  nav{
    background-color: white;
    border-bottom: solid 1px black;
    width: 100%;
    
  }
  #participantNavBar {
    background-color: white;
  }

  #footer {
    background-color: black;
    border: solid 2px black;
    height: 100px;
    width: 100%;
    margin-top: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  #address {
    color: white;
    font-family: fangsong;
    /* margin: 2px 0px 0px 678px; */

}

#privacybtn {
    background-color: #ffc107;
    /* margin: 6px 0px 0px 678px; */
}


