
* {
    box-sizing: border-box;
  }
  
  
  
  .maindiv{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
    /* height: 100%; */
    overflow: hidden;
    position: relative;
    height: 100%;
    overflow-x: hidden !important;
  }
  
  
  
  #logo {
    height: 42px;
      width: 39px;
      
      
      margin: 5px 4px -4px 7px;
  
  }
  
  #participantTracker {
    display: flex;
    position: fixed;
    left: 0px;
   
  }
  
  nav{
    background-color: white;
    border-bottom: solid 1px black;
    width: 100%;
    height:68px;
    
  }
  #participantNavBar {
    background-color: white;
  }
  
  #user {
    
    position: fixed;
    right: 40px;
    margin: 0px 4px 0px 4px ;
  }
  
  #logout {
    position: absolute;
    right: 4px;
   
  }
  
.pointer{
  cursor: pointer;
}

/* #card{
  border-radius: 25px;
  width: 68rem; 
}  */

  /* #profileSection section{
    position: relative;
    bottom: 126px;
  } */

#card{
  border-radius: 25px;
    width: 34rem;
    height: 47rem;
    margin-bottom: 24rem;
} 
  

  #profileSection section{
  position: relative;
    bottom: -26px;
}


 #StudentTracker {
position: relative;
top: 0px;
  }


  #addBtn{
    color:#3173d0;
    cursor: pointer;
    margin-left: 12rem;
  }

 
.labels{
  color: #ffc107;
}
  

#profile{
  display: block;
  width: 35rem;
}
  
   

  
    #footer {
      background-color: black;
      border: solid 2px black;
      height: 100px;
      width: 100%;
      margin-top: 26px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0px;
  }
    #address {
      color: white;
      font-family: fangsong;
      /* margin: 2px 0px 0px 678px; */
  
  }
  
  #privacybtn {
      background-color: #ffc107;
      /* margin: 6px 0px 0px 678px; */
  }
  
  @media (min-width:600px) {
    .lg\:block {
        display: table-cell !important;
    }
  
    .font-size\:large{
      font-size: x-small !important;
    }
  
    #searchBar {
      position:absolute;
      top: 117px;
      left: 62%;
      overflow-x: hidden;
      width: 120px;
    }
  
    #logo{
      height: 61px;
        width: 59px;
      
        margin: -3px 10px 2px 15px;
       
    }

    #profile{
      display: flex;
      width: 62rem;
    }

    #profileSection section{
      position: relative;
      bottom: 126px;
    }

    #card{
      border-radius: 25px;
      width: 71rem; 
      margin: 14rem 0rem 6rem -9rem;
    } 
  
    
  } 
  
  

  