<div class="maindiv">
  <div id="participantNavBar">

   <nav >
    <div id="participantTracker"> <img id="logo" src="/assets/images/YogaMandir.png" class="img-fluid ">
      <p id="participantTrackerp1" class="h3 mt-4">Students</p>
      <p id="participantTrackerp2" class="h3 text-warning mx-2 mt-4">Tracker</p>
      
    </div>


    <div id="user">

      <!-- <ul class="navbar-nav mr-auto">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 4px;">
            {{UserNAME}} <mat-icon style="margin-top: 1.5px;font-size: 15px;">account_circle</mat-icon>
          </a>


          <a id="logout" ngbDropdownMenu routerLink="/therapystudenttracker" class="nav-link dropdown-item"
            (click)="logout()">Logout <i class="bi bi-box-arrow-right"></i></a>


        </li>
      </ul> -->

      <ul  style="margin-top: 5rem;margin-right: -3rem;">
        

         <li class="d-flex mt-5" >
         <i class="bi bi-person-circle pointer">{{UserNAME}}&nbsp;</i>
        
        
          


        </li>
      </ul>

    </div>
  </nav>
  </div>



  <div id="profileSection">
    
    
    <!-- <span id="StudentTracker" class="row d-flex  "><p class="text-center h1 fw-bold mb-2 mx-1 mx-md-2 mt-4">{{UserNAME}}</p><p class="text-center text-warning h1 fw-bold mb-2 mx-1 mx-md-2 mt-4">Profile</p></span> -->
    <section class="vh-100 mb-5 " >
      <div class="container h-100 overflow-auto">
        <div class="row d-flex justify-content-center align-items-center h-100 ">
          <div class="col-lg-6 col-xl-6">
            <div class="card text-black overflow-auto"id="card" >
              <div class="card-body p-md-5">
                <div class="row justify-content-center">

                 
                  
                  <div class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1" >

                    <div id="logOutEditPanel">

                      <span class="pointer float-right mx-5"  routerLink="/therapystudenttracker" (click)="logout()">
                        Logout &nbsp;<i   class="bi bi-box-arrow-right pointer" > </i>
                       </span>


                       
                      <div class="float-left mx-3" id="EditFeedbackPanel">
                        <span class="pointer float-left mx-2"  *ngIf="participantModelObj.studentId!=''">
                          <i class="bi bi-card-text"  data-toggle="modal" data-target="#exampleModalLong">Feed Back </i>
  
                         </span>
  
  
                         <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                         <div class="modal-dialog" role="document">
                           <div class="modal-content">
                             <div class="modal-header">
                               <h3 class="modal-title font-weight-bold" id="exampleModalLongTitle">Feedback</h3>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                               </button>
                             </div>
                             <div class="modal-body">
                              
                               <!-- <textarea name="" id="" formControlName="feedBack" cols="30" rows="10"></textarea> -->
                               <!--Material textarea-->
             
                               <form role="form"  method="put">
                               <div class="md-form">
                                 <textarea id="feedBack" type="text"  class="md-textarea form-control" placeholder="FeedBack"  [(ngModel)]="participantModelObj.feedBack" [ngModelOptions]="{standalone: true}"   rows="3"></textarea>
                                
                               </div>
                             </form>
             
                             </div>
                             <div class="modal-footer">
                               <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
                               <button type="button" (click)="FeedBack()"  data-dismiss="modal" class="btn btn-success float-right">Submit</button>
             
                             </div>
                           </div>
                         </div>
                       </div>
      
                         
                        <span class="pointer float-right mx-4" *ngIf="participantModelObj.studentId!=''">
                          <i (click)="onEdit(this.participantModelObj)" class="bi bi-pencil-square">Edit</i>
                         </span>
                      </div>


                      </div>
                    
                   
                    <div id="profile" class="overflow-auto">

               

                    <div *ngIf="participantModelObj.studentId!=''" class="mr-5">

                      <span class="d-flex my-5">
                        <p class="mx-5"> <span class="labels">Name:</span> {{participantModelObj.name}} </p>
                        
                      </span>

                      <span class="d-flex my-5">
                        <p class="mx-5"> <span class="labels">DOB:</span> {{participantModelObj.dateOfBirth | date: 'dd-MMM-yyyy'}}</p>
                        
                      </span>

                      <span class="d-flex my-5">
                        <p class="mx-5"><span class="labels">Email:</span> {{participantModelObj.email}}</p> 
                       
                        
                      </span>
                     
                      <span class="d-flex my-5">
                        <p class="mx-5"><span class="labels">Height:</span> {{participantModelObj.height}}</p>
                        
                      </span>

                      <span class="d-flex my-5">
                        <p class="mx-5"><span class="labels">DOJ:</span> {{participantModelObj.dateOfJoining | date: 'dd-MMM-yyyy'}}</p>
                       
                      </span>
                      

                    </div>

                    <div  *ngIf="participantModelObj.studentId!=''"  >

                      <span class="d-flex my-5">
                       
                        <p class="mx-5"><span class="labels">Gender:</span> {{participantModelObj.gender}}</p>
                      </span>

                      <span class="d-flex my-5">
                        
                        <p class="mx-5"><span class="labels">Occupation:</span> {{participantModelObj.occupation}}</p>
                      </span>

                      <span class="d-flex my-5">
                        
                       
                        <p class="mx-5"><span class="labels">Contact Number:</span> {{participantModelObj.mobile}}</p>
                      </span>
                     
                      <span class="d-flex my-5">
                       
                        <p class="mx-5"><span class="labels">Weight:</span> {{participantModelObj.weight}}</p>
                      </span>

                      <span class="d-flex my-5">
                       
                        <p class="mx-5"><span class="labels">ReferredBy:</span> {{participantModelObj.referredBy}}</p>
                      </span>
                      

                    </div>

                    <div  *ngIf="participantModelObj.studentId==''" >

                      <i class="bi bi-plus-circle" id="addBtn"  routerLink="/newparticipent">Create new profile</i>

                    </div>






                  </div>


                 
                     
                  </div>
                  <!-- <div id="Logo" class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
    
                    <img src="/assets/images/YogaMandir.png" class="img-fluid" >


    
                  </div> -->
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </section>

  </div>









  <div id="footer">
      <!-- <h3 id="address">
        address here
      </h3> -->
      <button routerLink="/privacy" id="privacybtn">
        Privacy
      </button>
  
    </div>
</div>