#mainDiv{

   height: 100%;
   width: 100%;
}

.gradient-custom-3 {
 height: auto;
    
     }
    .gradient-custom-4 {
   
    background: #84fab0;
    

    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(255, 193, 7, 1));
    

    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(255, 193, 7, 1))
    }


section{
    height: 100%;


  overflow-x:hidden;
}

.card{
height: fit-content;

}





#eye1{
    position:relative ;
    top:-25px;
    left:243px;
}

#eye2{
    position:relative ;
    top:-24px;
    left:243px;
}
    #checkBox{
        margin: 5px 272px 0px 0px;
    }


    input:focus{
        border-color:rgb(211, 211, 211);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(211, 211, 211);
    outline: 0 none;
    }

    @media only screen and (min-width:768px){
        .gradient-custom-3 {
            height: auto;
               background: #eee;
                }
        section{
            height: 100%;
          border: solid 2px blue;
          overflow-y: scroll;
          overflow-x:hidden;
        }
        #eye1{
            position:relative ;
            top:-25px;
            left:444px;
        }
        
        #eye2{
            position:relative ;
            top:-24px;
            left:444px;
        }
    }