<div id="mainDiv">

  <form [formGroup]="formValue" >


  <section class="vh-100" *ngIf="showEmail" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 h3 ">Please Enter A Valid Email-Id</p>




                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw mb-2"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="email" placeholder="Email" class="form-control form-control-lg" formControlName="email" />
                      <small *ngIf="email?.invalid && email?.touched && email?.errors?.['required'] "  class="text-danger">Email is required</small>
                      <small  *ngIf="email?.errors?.['EmailExists']" Class="text-danger">Email is already in use</small>
                      
                      <small  *ngIf="email?.errors?.['email']" Class="text-danger">Email is invalid</small>
                      <small Class="text-danger">{{EmailExists}}</small>
                    </div>
                  </div>
                  
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" (click)="SubmitEmail()" [disabled]="email?.invalid" class="btn btn-primary btn-lg">Next</button>
                  </div>

                  <!-- </form> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="vh-100" *ngIf="showCode" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 h3">Enter The Code Sent To Your Email-Id</p>

                  <!-- <form class="mx-1 mx-md-4"> -->



                  <div class="d-flex flex-row align-items-center mb-4">

                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Code</label>
                      <input type="text" formControlName="code" id="form3Example3c" class="form-control" />
                      <small *ngIf="code?.invalid && code?.touched && code?.errors?.['required']"  class="text-danger">code is required</small>
                      


                    </div>
                  </div>





                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button"  (click)="SubmitCode()" [disabled]="code?.invalid" class="btn btn-primary btn-lg">Next</button>
                  </div>

                  <!-- </form> -->

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




<section *ngIf="showRegisterForm" class="vh-100 bg-image"
style="background-image: url('');">
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

           

              <div class="form-outline mb-4">
                <input type="text" id="firstName" placeholder="First Name" class="form-control form-control-lg" formControlName="firstName" />
                <small *ngIf="firstName?.invalid && firstName?.touched && firstName?.errors?.['required'] "  class="text-danger">First Name is required</small>
                <small  *ngIf="firstName?.errors?.['pattern']" Class="text-danger">First Name is invalid(Should contain only alphabets)</small>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="lastName" placeholder="Last Name" class="form-control form-control-lg" formControlName="lastName" />
                <small *ngIf="lastName?.invalid && lastName?.touched && lastName?.errors?.['required'] "  class="text-danger">Last Name is required</small>
                <small  *ngIf="lastName?.errors?.['pattern']" Class="text-danger">Last Name is invalid(Should contain only alphabets)</small>
              </div>

           

              <div class="form-outline mb-4">
                <input type="text" id="ContactNumber" placeholder="Mobile" class="form-control form-control-lg" formControlName="contactNumber" />
                <small *ngIf="contactNumber?.invalid && contactNumber?.touched && contactNumber?.errors?.['required'] "  class="text-danger">Mobile number is required</small>
                <small  *ngIf="contactNumber?.errors?.['pattern']" Class="text-danger">Mobile number is invalid</small>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="userName" placeholder="User Name" class="form-control form-control-lg" formControlName="userName" />
                <small *ngIf="userName?.invalid && userName?.touched && userName?.errors?.['required'] "  class="text-danger">user Name is required</small>
                <small  *ngIf="userName?.errors?.['UserNameExists']" Class="text-danger">User Name is taken, try different!</small>
         
                <small  *ngIf="userName?.errors?.['pattern']" Class="text-danger">User Name is invalid(Only alphabets and numerics are allowed)</small>
              
              </div>


              <div class="form-outline mb-4 position-relative">
                <input [type]="showPassword ? 'text' : 'password'" id="passWord" placeholder="Password" class="form-control form-control-lg " formControlName="passWord" />
                <div  class=" position-absolute" style="top:6px;right:9px;">
                    <i alt="show" class="far fa-eye eye-show" 
                    (click)="showPassword = !showPassword"
                    [class.hide]="showPassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide" 
                    (click)="showPassword = !showPassword"
                    [class.hide]="!showPassword"></i>
                  </div>
                <small *ngIf="passWord?.invalid && passWord?.touched && passWord?.errors?.['required']"  class="text-danger">Password is required</small>
                
               
              </div>

              <div class="form-outline mb-4 position-relative">
                <input  [type]="showConfirmPassword ? 'text' : 'password'" id="ConfirmPassWord" placeholder="Confirm Password" class="form-control form-control-lg " formControlName="ConfirmPassWord" />
                <div    class=" position-absolute " style="top:6px;right:9px;" >
                    <i alt="show" class="far fa-eye eye-show" 
                    (click)="showConfirmPassword = !showConfirmPassword"
                    [class.hide]="showConfirmPassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide" 
                    (click)="showConfirmPassword = !showConfirmPassword"
                    [class.hide]="!showConfirmPassword"></i>
                  </div>
                <small *ngIf="confirmPassWord?.invalid && confirmPassWord?.touched && confirmPassWord?.errors?.['required'] "  class="text-danger">Confirm Password is required</small>
                <small  *ngIf="confirmPassWord?.errors?.['Mustmatch']" Class="text-danger">Password and Confirm Password does not match</small>
              </div>



              <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" (change)="changeEvent($event)"  id="checkBox" />
                <label class="form-check-label" for="form2Example3g">
                  I agree all statements in <a class="text-body"  data-toggle="modal" data-target="#exampleModalLong" ><u style="color: rgb(0, 153, 255);">Terms of service</u></a>
                </label>
              </div>

 
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            We are delighted to have you as a Yoga Therapy student at Yoga Mandir. <br>
 
            PLEASE READ THE FOLLOWING INFORMATION AND PROVIDE YOUR CONSENT: <br><br>
             
            Yoga is an ancient science and a transformative way of life. Regular, dedicated, continuous practice leads to deep levels of well-being and self-awareness. Yoga is also very popular as a curative and a preventive measure for human suffering. <br>
             
            I understand that yoga involves some form of physical exertion and stretching. I agree to inform my yoga therapist immediately of any movements which I feel could cause injury and not exceed my limits in the practice of yoga. I will practice with awareness and agree to take full responsibility for any discomfort or injury that I might experience. <br>
             
            During each session, physical contact between student and instructor may be necessary to properly teach and correct my yoga technique. I understand, accept and consent to such contact and recognize that the instructor will apply necessary contact in a professional manner. <br>
             
            I agree to clarify any concerns with the instructor in a timely manner. Yoga Mandir and the instructors shall not be held liable for any injury, loss or damage to property and/or persons sustained during or as a result of participation.
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>

              <div class="d-flex justify-content-center">
                <button type="button" (click)="submitRegister()" [disabled]="firstName?.invalid || lastName?.invalid || contactNumber?.invalid || userName?.invalid || passWord?.invalid || confirmPassWord?.invalid || toggleCheckBox"
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
              </div>

              <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/adminLogin"
                  class="fw-bold text-body"><u>Login here</u></a></p>

         

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


</form>

</div>